Wineries

- @wineries.each do |winery|
	%li= link_to("#{winery.name}",winery_path("#{winery.id}")) + ", #{winery.address}, #{winery.phone}, " + link_to( "#{winery.name} Website", "#{winery.website}")
	-winery.varietals.each do |var|
		=image_tag("#{var.photo_url}", height: '32', width: '32', title: "#{var.name}")
	%br
	=link_to("Edit #{winery.name}",edit_winery_path("#{winery.id}"))
	%br
	%br