<!DOCTYPE html>
<html>
<head>
  <title>Napa Help</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/nav'%>

<%= yield %>

<%= render 'partials/footer'%>

<script src="https://websdk.live.gotoassist.com/concierge.min.js"></script>
<script>
    concierge.setApplicationKey("MTMzOTs0NzM=-t7hqi2v7ivuesu2956z60f3f1lukczg4tjyn322elua09qbme19of27w60day3k7");
    concierge.addDefaultButton("Help");
</script>

</body>
</html>
